@charset "utf-8";
/* a,span{
    display: block;
} */
.c-btn{
    background-color: red;
    margin: 1em;
    padding: 1em;
    display: inline-block;
}
/* <!-- display flexの練習 --> */
.l-container{
    background-color:white ;
    width: 1000px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    align-items: center;
    display: none;
}
.item{
    background-color: red;
    width: 200px;
    margin: 20px;
}
.parent{
    background-color: green;
    width: 1000px;
    height: 500px;
    position: relative;
    }

.child{
    background-color: yellow;
    width: 100px;
    height: 100px;
    /* position: absolute; */
    /* right: 10px;
    bottom: 10px; */
    top: 30px;
    left: 30px;
    z-index: 2;
}    

.child2{
    top: 60px;
    left: 60px;
    background-color: blue;
    z-index: 1;
}
.eto-list-item{
  list-style-type: none;
}
.eto-list-item a{
  text-decoration: none;
  position: relative;
}
.eto-list-item a::after{
  content:"";
  display: block;
  width: 0;
  height: 1px;
  background-color:#122444 ;
  position: absolute;
  left: 50%;
  bottom: 0;
  transition: all 0.5s;
}

.eto-list-item a:hover::after{
  width:100%;
  left: 0;
}